@import '../../../assets/styles/Variables.scss';

.github {
  display: inline-block;
  color: var(--github-icon-color, $black-color);
  transition: color 0.5s;

  &:hover {
    color: var(--github-icon-hover, $main-color); 
  }

  &__icon {
    font-size: var(--github-icon-size, 50px);
  }
}