@import '../../../assets/styles/Variables.scss';

.github {
  display: inline-block;
  color: var(--github-icon-color, $black-color); 
  
  @include scaling-effect(1.2, 0.8s);

  &:hover {
    color: var(--github-icon-hover, $main-color); 
  }

  &.focus-visible {
    outline: 3px solid $main-color;
    outline-offset: 3px;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }   

  &__icon {
    font-size: var(--github-icon-size, 50px);
  }
}