@import '../../../assets/styles/Variables.scss';

.footer {
  background: $main-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 50px;

  &--github {
    padding: 0 10px;
  }

  &__txt {
    color: $black-color;
    font-weight: 600;
    font-size: 18px;
  }
}

.footer__icon--github {
  padding: 0 5px;

  &:hover {
    color: $white-color;
  }
}