@import '../../../assets/styles/Variables.scss';

.footer {
  background: $main-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 50px;

  &__txt {
    color: $black-color;
    font-weight: 600;
    font-size: 18px;
    text-align: center;

    @media screen and (max-width: 768px) {
      font-size: 16px;
    }
  }

  &__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 45px;
      color: $black-color;

      @include scaling-effect(1.1, 0.5s);

      &:hover {
        color: $white-color;
      }
      
      &:focus {
        outline: none;
      }

      &.focus-visible {     
        outline: 3px solid $white-color;
        outline-offset: 3px;
        border-radius: 5px;   
      }
      
      @media screen and (max-width: 768px) {
        font-size: 40px;
      }
    }

    &--github {
      --github-icon-size: 45px;
      --github-icon-hover: $white-color;

      @media screen and (max-width: 768px) {
        --github-icon-size: 40px;
      }

    }
  }
}