@import '../../../assets/styles/Variables.scss';

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 180px;
  border: 1px solid $main-color;
  border-radius: 5px;
  padding: 30px 40px;
  flex-grow: 1;

  @include scaling-effect(1.05, 0.8s);
  
  @media screen and (max-width: 1364px) {
    width: 30%;
  }
  
  @media screen and (max-width: 768px) {
      width: 100%;
  }

  &:hover {
    border: 1px solid $white-color;
    .card__icon, .card__txt {
      color: $white-color;
    }
    
    .card__title {
      color: $main-color; 
    }
  }

  &__icon {
    font-size: 80px;
    color: $main-color;

    @media screen and (max-width: 768px) {
      font-size: 70px;
    }

    @media screen and (max-width: 410px) {
      font-size: 60px;
    }
  }

  &__title {
    text-transform: uppercase;
    text-align: center;
  }

  &__txt {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: $main-color;

    @media screen and (max-width: 768px) {
      text-align: center;
    }
  }
}