@import '../../../assets/styles/Variables.scss';

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;

  &__left {
    display: flex;
    align-items: center;
    gap: 20px;

    @media screen and (max-width: 400px) {
      gap: 10px; 
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &--icon {
      --github-icon-size: 35px;
      --github-icon-color: $white-color;
    }

    &--title {
      font-size: 20px;
      letter-spacing: 1px;
      font-weight: 500;

      @media screen and (max-width: 400px) {
        font-size: 16px; 
      }
    }
  }
  
  &__right {
    display: flex;
    align-items: center;
  }
}