@import 'normalize.css';
@import 'Variables';
@import '../../components/common/Button/Button';
@import '../../components/common/NavBar/NavBar';
@import '../../components/common/Burger/Burger';
@import '../../components/common/Github/Github';
@import '../../components/common/Quote/Quote';
@import '../../components/common/SkillCollectionCard/SkillCollectionCard';
@import '../../components/sections/Header/Header';
@import '../../components/sections/Presentation/Presentation';
@import '../../components/sections/SkillsCollection/SkillsCollection';
@import '../../components/sections/Footer/Footer';

* {
  margin: 0;
  }
  
body {
  max-width: 1440px;
  margin: auto;
  width: 100%;
  box-sizing: border-box;
  background: $black-color;
  color: $white-color;
  font-family: $body-font;
}